# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.IngosConfiguration.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\repo\ingos-configuration\ingos-configuration\.idea\.idea.IngosConfiguration\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
